{% extends 'base.html' %}

{% block content %}

<!DOCTYPE html>

<html lang="en">
  <head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
<style>
* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 30px;
	height:1000px;
    
}

.left, .right {
  width: 20%;
}

.middle {
  width: 60%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
</style>

    

  </head>

  <body>
<div class="row">
  <div class="column left" style="background-color:#aaa;">
    <h2>Column 1</h2>
    <p>Some text..</p>
  </div>
  <div class="column middle" style="background-color:#bbb;">
    
	<h1>news feed page</h1>

{%for post in posts %}

<div class="panel panel-success">
  <!-- Default panel contents -->
  <h2>Panel Heading</h2>
  <div class="panel-heading"><h5><a href="/{{post.slug}}">{{post.title}}</a></h5>
  </div>
  <div class="panel-body">
    <p>{{post.summary}}</p>
  </div>
  

{% endfor %}
	
	
  </div>
  <div class="column right" style="background-color:#ccc;">
    <h2>Column 3</h2>
    <p>Some text..</p>
  </div>
</div>





  </body>

</html>
{% endblock %}